{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block js %}
    <script>
    $(document).ready(function() {
        refresh();

        $(".auto_submit_item").change(function() {
            refresh();
        });
    });

    function refresh()  {
        $('#widget_form').ajaxSubmit({url: "{{server_path}}", 
                                        type: 'get',
                                        dataType: 'json',
                                        success: showResponse});
    }

    function showResponse(responseJson) {
        for (var id in responseJson['changes']) {
            for (var attr in responseJson['changes'][id]) {
                $('#'+id).attr(attr, responseJson['changes'][id][attr]);
            }
        }
    }
    </script>
{% endblock %}

{% block content %}
    <form id="widget_form" role="form">
    {% for widget in widgets %}
        {{ widget }}
    {% endfor %}
    </form>

    {% for output in outputs %}
        {{ output }}
    {% endfor %}


{% endblock %}
