{% extends "base.html" %}
{% from 'macros.html' import render_form %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
<style>
    .loader {
        z-index: 1;
        position: absolute;
        background-color: white;
    }
        
    .output {
        z-index: -1;
        position: absolute;
    }
</style>
{% endblock %}

{% block js %}
    <script>
    $(document).ready(function() {
        refresh();

        $("#input_form").change(function() {
            refresh();
        });
    });

    function refresh() {
        $('#input_form').ajaxSubmit({url: "{{server_path}}", 
                                        type: 'post',
                                        dataType: 'json',
                                        success: showResponse});
    }

    function showResponse(responseJson) {
        for (var id in responseJson['changes']) {
            for (var attr in responseJson['changes'][id]) {
                $('#'+id).attr(attr, responseJson['changes'][id][attr]);
            }
        }
    }
    </script>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-9">
        <h3 class="text-center">{{ title }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      
    {{ render_form(form, id_='input_form') }}

      </div>
      <div class="col-md-4">
        {% for output in outputs %}
        {{ output }}
        {% endfor %}
      </div>
    </div>


{% endblock %}
